
#faq-card {
    position: absolute;
    top: 5%;
    bottom: 5%;
    right: 5%;
    left: 5%;
    width: 50%;
    margin: 0 auto;
    padding: 1%;
    display: none;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    font-family: Roboto, Calibri, Helvetica, sans-serif;
    overflow-y: scroll;
    transition-property: transform opacity;
    transition-duration:  200ms;
}

@media only screen and (max-width: 1000px) {
    #faq-card {
        max-width: 500px;
        width: 90%;
    }
}

.cross-ball {
    float: right;
    height: 12mm;
    width: 12mm;
    line-height: 12mm;
    border-radius: 50%;
    background: #E91E63;
    color: white;
    /*font-size: 12mm;*/
    font-weight: bold;
    text-align: center;
    /* not selectabled */
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.cross-ball:hover {
    filter: grayscale(0.1) opacity(0.8);
    -webkit-filter: grayscale(0.1) opacity(0.8);
}

.question {
    font-weight: bold;
    display: block;
    margin-top: 1%;
}

.answer {
    display: block;
    padding-bottom: 1%;
    border-bottom: #cccccc 1px solid;
}