
/* map elements */
#station-circles {
    fill: white;
    stroke: black;
}

#dummy-circles {
    opacity: 0;
    stroke: blue;
    stroke-width: 0.5px;
}

.M-line {
    /*stroke-width: 2;*/
}

.L-line {
    stroke: #00A4A7;
}

path {
    fill-opacity: 0; /* so that no white stuff be visible */
}

#transfers-outer {
    fill-opacity: 0;
    stroke: #404040;
    stroke-opacity: 1;
    position: absolute;
}
#transfers-inner {
    fill-opacity: 0;
    stroke: #FFFFFF;
    stroke-opacity: 1;
    position: absolute;
}

/* lines */
.M1 { stroke: #E32017; }
.M2 { stroke: #003688; }
.M3 { stroke: #00782A; }
.M4 { stroke: #EE7C0E; }
.M5 { stroke: #9B0056; }
.M6 { stroke: #B36305; }
.M7 { stroke: #FFD300; }
.M8 { stroke: #0098D4; }
.M9 { stroke: #A0A5A9; }
.M10 { stroke: #F371BB; }
.M11 { stroke: #000000; }
.M12 { stroke: #84B817; }

/*.E :nth-child(1) { stroke: #7156A5; }*/
/*.E :nth-child(2) { stroke: #FFFFFF; }*/
#paths-outer .E { stroke: #7156A5; }
#paths-inner .E { stroke: #FFFFFF; }