html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px; /* redundant */
    height: 100%;
}

a {
    color: #00B7FF;
}

#map-container {
    height: 100%; /* the map should have a defined height */
}

.leaflet-control-scale-line {
    opacity: 1;
}

#edit-map-button[disabled] {
    cursor: not-allowed;
}

.ajs-message {
    bottom: 20px;
    background-color: #ccc;
    font-family: Segoe, Tahoma, Ubuntu;
}

#overlay {
    width: 100%;
    height: 100%;
    cursor: default;
    position: relative;
    fill: white;
    /*z-index: 500;*/
}


.plate-text {
    color: black;
    font-size: 0.9em;
    font-family: "Corbel Bold", Ubuntu, Cambay, sans-serif;
    text-anchor: end;
    text-align: right;
    /*font-weight: bold;*/
    opacity: 1;
    -webkit-filter: blur(3px);
}

.plate-box {
    /*stroke: grey;*/
    /*border-radius: 2px;*/
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    /*filter: drop-shadow( 0 1px 2px rgba(0,0,0,0.24) );*/
    fill: white; /* for rect */
    /*background-color: white; /!* for div *!/*/
    opacity: 1;
}

.plate-pole {
    stroke: #404040;
    stroke-width: 1px;
}