@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px; /* redundant */
    height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#map-container {
    height: 100%; /* the map should have a defined height */
}

.leaflet-control-scale-line {
    opacity: 1;
}

#overlay {
    width: 100%;
    height: 100%;
    cursor: default;
    position: absolute;
    z-index: 50;
}

/* map elements */

.station-circle {
    fill: white;
    stroke: black;
}

.invisible-circle {
    opacity: 0;
    stroke: blue;
    stroke-width: 0.5px;
}

.plate-text {
    color: black;
    font-size: 10px;
    font-family: "Open Sans", Roboto, Corbel, Candara, Colibri, Arial;
    text-shadow: 0 0 0 black;
    font-weight: bold;
    text-anchor: end;
    text-align: right;
    stroke-opacity: 1;
    opacity: 1;
}

.plate-box {
    stroke: grey;
    fill: white;
}

.plate-pole {
    stroke: #404040;
    stroke-width: 1px;
}

.transfer {
    stroke: black;
    fill-opacity: 0;
}