@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px; /* redundant */
    height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#map-container {
    height: 100%; /* the map should have a defined height */
}

.leaflet-control-scale-line {
    opacity: 1;
}

#overlay {
    width: 100%;
    height: 100%;
    cursor: default;
    position: absolute;
    fill: white;
    z-index: 50;
}

/* map elements */
.station-circle {
    fill: white;
    stroke: black;
}

.invisible-circle {
    opacity: 0;
    stroke: blue;
    stroke-width: 0.5px;
}

.plate-text {
    color: black;
    font-size: 0.9em;
    font-family: Corbel, Candara, Calibri, Verdana, Arial, sans-serif;
    font-weight: bold;
    text-anchor: end;
    text-align: right;
    -webkit-transform-style: preserve-3d;
    /*stroke-opacity: 1;*/
    opacity: 1;
}

.plate-box {
    /*stroke: grey;*/
    /*border-radius: 2px;*/
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    /*filter: drop-shadow( 0 1px 2px rgba(0,0,0,0.24) );*/
    fill: white; /* for rect */
    /*background-color: white; /!* for div *!/*/
    opacity: 1;
}

.plate-pole {
    stroke: #404040;
    stroke-width: 1px;
}

/*.transfer {*/
    /*stroke: black;*/
    /*fill-opacity: 0;*/
/*}*/

.M-line {
    /*stroke-width: 2;*/
}

.E-line {
    stroke: #808080;
    /*stroke-width: 2;*/
    stroke-dasharray: 2, 2;
}

.E-highlighted {
    stroke: #606060;
}

.L-line, .L-highlighted {
    stroke: #00A4A7;
}

.L-line {
    /*stroke-width: 1.5;*/
    stroke-dasharray: 2, 0;
}

path {
    fill-opacity: 0; /* so that no white stuff be visible */
}

/* transfers */
.transfer {
    fill-opacity: 0;
    stroke: #404040;
    stroke-opacity: 1;
}
.transfer :nth-child(2) {
    stroke: #FFFFFF;
    stroke-opacity: 1;
}

/* lines */
.M1 { stroke: #E32017; }
.M2 { stroke: #003688; }
.M3 { stroke: #00782A; }
.M4 { stroke: #EE7C0E; }
.M5 { stroke: #9B0056; }
.M6 { stroke: #B36305; }
.M7 { stroke: #FFD300; }
.M8 { stroke: #0098D4; }
.M9 { stroke: #A0A5A9; }
.M10 { stroke: #F371BB; }
.M11 { stroke: #000000; }
.M12 { stroke: #84B817; }

.leaflet-control-command-interior, input
{
    background-image: url(images/command.png);
    width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
}

.leaflet-control-command-interior:hover
{
    background-color: #F4F4F4;
}