.plate-box {
    color: #000000;
    text-anchor: end;
    text-align: right;
    font-family: Corbel, Candara, Calibri, Ubuntu, sans-serif;
    font-weight: bold;
    opacity: 1;
    -webkit-user-select: none;
    user-select: none;
    
    white-space: nowrap;
    /*border-radius: 2px;*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /*filter: url(#shadow);*/
    background-color: white; /* for div */
    padding: 1px 3px 1px 3px;
    line-height: 1.3em;
    display: inline-block;
    /*float: left;*/
}