.plate-text {
    color: black;
    font-size: 0.9em;
    /*font-family: "Corbel Bold", Ubuntu, Cambay, sans-serif;*/
    text-anchor: end;
    text-align: right;
    font-family: Corbel;
    font-weight: bold;
    opacity: 1;
    -webkit-user-select: none;
    user-select: none;
}

.plate-box {
    /*stroke: grey;*/
    border-radius: 2px;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    /*filter: drop-shadow( 0 1px 2px rgba(0,0,0,0.24) );*/
    fill: white; /* for rect */
    /*background-color: white; /!* for div *!/*/
    opacity: 1;
}

.plate-pole {
    stroke: #404040;
    stroke-width: 1px;
}