.M1 { stroke: var(--red); }
.M2 { stroke: var(--green); }
.M3 { stroke: var(--blue); }
.M4 { stroke: var(--azure); }
.M5 { stroke: var(--brown); }
.M6 { stroke: var(--orange); }
.M7 { stroke: var(--purple); }
.M8 { stroke: var(--yellow); }
.M9 { stroke: var(--grey); }
.M10 { stroke: var(--lime); }
.M11 { stroke: var(--black); }
.M12 { stroke: var(--cyan); }
.M13 { stroke: var(--magenta); }
.M14 { stroke: var(--teal); }
.M15 { stroke: var(--pink); }
.E { stroke: var(--blue); }
.E1 { stroke: rgb(244,128,38); }
.L { stroke: var(--light-azure); }
#paths-inner * { stroke: #fff; }
