:root {
  --white: #FFFFFF;
  --grey: rgb(149,156,161);
  --black: rgb(35,31,32);
  --brown: rgb(176,95,15);
  --red: rgb(238,46,34);
  --orange: rgb(244,128,38);
  --yellow: rgb(254,209,5);
  --lime: rgb(121,193,66);
  --green: rgb(0,132,61);
  --teal: rgb(0,177,176);
  --cyan: rgb(132,205,188);
  --azure: rgb(6,157,220);
  --blue: rgb(27,63,148);
  --violet: rgb(96,64,153);
  --purple: rgb(151,1,94);
  --pink: rgb(243,134,160);
}
