.M1 { stroke: var(--orange); }
.M2 { stroke: var(--purple); }
.M3 { stroke: var(--azure); }
.M4 { stroke: var(--green); }
.M5 { stroke: var(--blue); }
.M6 { stroke: rgb(176,95,15); }
.M7 { stroke: rgb(254,209,5); }
.M8 { stroke: rgb(149,156,161); }
.M9 { stroke: rgb(238,46,34); }
.M10 { stroke: rgb(243,134,160); }
.M11 { stroke: rgb(35,31,32); }
.M12 { stroke: rgb(121,193,66); }
.E { stroke:  rgb(96,64,153); }
.L { stroke: rgb(0,177,176); }
#paths-inner * { stroke: #FFFFFF; }
