/* @import '../colors.css'; */

/*.M1 { stroke: #E32017; }
.M2 { stroke: #003688; }
.M3 { stroke: #00782A; }
.M4 { stroke: #EE7C0E; }
.M5 { stroke: #9B0056; }
.M6 { stroke: #B36305; }
.M7 { stroke: #FFD300; }
.M8 { stroke: #A0A5A9; }
.M9 { stroke: #0098D4; }
.M10 { stroke: #F371BB; }
.M11 { stroke: #000000; }
.M12 { stroke: #84B817; }
.E { stroke:  #7156A5; }
.L { stroke: #00A4A7; }
#paths-inner * { stroke: #FFFFFF; }*/

/* reverse engineered from the original map */
.M1 { stroke: var(--red); } /* Voxaľnaja */
.M2 { stroke: var(--blue); } /* Moskovskaja */
.M3 { stroke: var(--green); } /* Nevskaja */
.M4 { stroke: var(--orange); } /* Lahtinskaja */
.M5 { stroke: var(--purple); } /* Kupčinskaja */
.M6 { stroke: var(--brown); } /* Ligovskaja */
.M7 { stroke: var(--yellow); } /* Koľcevaja */
.M8 { stroke: var(--grey); } /* Admiraltejskaja */
.M9 { stroke: var(--azure); } /* Severnaja */
.M10 { stroke: var(--pink); } /* Pravoberežnaja */
.M11 { stroke: var(--black); } /* Aviacionnaja */
.M12 { stroke: var(--lime); } /* Kinovejevskaja */
.E { stroke:  var(--blue); }
.L { stroke: var(--cyan); }
#paths-inner * { stroke: #FFFFFF; }

/* wikipedia */
/*.M1 { stroke: #DC241F; }
.M2 { stroke: #0019A8; }
.M3 { stroke: #007229; }
.M4 { stroke: #FF6600; }
.M5 { stroke: #751056; }
.M6 { stroke: #894E24; }
.M7 { stroke: #FFCE00; }
.M8 { stroke: #868F98; }
.M9 { stroke: #00A0E2; }
.M10 { stroke: #D799AF; }
.M11 { stroke: #000000; }
.M12 { stroke: #66CC00; }
.E { stroke:  #6666CC; }
.L { stroke: #00AFAD; }
#paths-inner * { stroke: #FFFFFF; }*/

/* pantones */
/*.M1 { stroke: #DA291C; }
.M2 { stroke: #0019A8; }
.M3 { stroke: #007229; }
.M4 { stroke: #FF6600; }
.M5 { stroke: #751056; }
.M6 { stroke: #A45A2A; }
.M7 { stroke: #FFCE00; }
.M8 { stroke: #868F98; }
.M9 { stroke: #00A0E2; }
.M10 { stroke: #E89CAE; }
.M11 { stroke: #2D2926; }
.M12 { stroke: #66CC00; }
.E { stroke:  #6666CC; }
.L { stroke: #00AFAD; }
#paths-inner * { stroke: #FFFFFF; }*/


/* moscow */
/*.M1 { stroke: #ED1B35; }
.M2 { stroke: #0078BF; }
.M3 { stroke: #44B85C; }
.M4 { stroke: #F58631; }
.M5 { stroke: #8E479C; }
.M6 { stroke: #894E35; }
.M7 { stroke: #FFCB31; }
.M8 { stroke: #A1A2A3; }
.M9 { stroke: #19C1F3; }
.M10 { stroke: #CC0066; }
.M11 { stroke: #000000; }
.M12 { stroke: #B3D445; }
.E { stroke:  #79CDCD; }
.L { stroke: #79CDCD; }
#paths-inner * { stroke: #FFFFFF; }*/


/* material colors */
/*
.M1 { stroke: #F44336; }
.M2 { stroke: #3F51B5; }
.M3 { stroke: #4CAF50; }
.M4 { stroke: #FF9800; }
.M5 { stroke: #9C27B0; }
.M6 { stroke: #795548; }
.M7 { stroke: #FFEB3B; }
.M8 { stroke: #9E9E9E; }
.M9 { stroke: #03A9F4; }
.M10 { stroke: #E91E63; }
.M11 { stroke: #000000; }
.M12 { stroke: #8BC34A; }
.L { stroke: #009688; }
#paths-outer .E { stroke: #607D8B; }
#paths-inner .E { stroke: #FFFFFF; }
*/

