path {
    fill-opacity: 0; /* so that no white stuff be visible */
}

circle {
    // transform-origin: 0% 0%;

    @-moz-document url-prefix() {
        transform-origin: 0% 0%;
    }
}

#map-container {
    & path {
        pointer-events: initial;
    }
}
