path {
    fill-opacity: 0; /* so that no white stuff be visible */
}

#station-circles {
    fill: white;
    stroke: black;
}

#dummy-circles {
    opacity: 0;
    stroke: blue;
    stroke-width: 0.5px;
}

#paths-outer, #paths-inner, #transfers-outer, #transfers-inner {
    fill: none;
}

#transfers-outer {
    stroke: #404040;
}

#transfers-inner {
    stroke: #FFFFFF;
}
